<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html charset=utf-8" />
<title>Shoes Store, free template</title>
<meta name="keywords" content="shoes store, free template, ecommerce, online shop, website templates, CSS, HTML" />
<meta name="description" content="Shoes Store is a free ecommerce template provided by templatemo.com" />
<link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="~/Content/ddsmoothmenu.css" />

<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

    ddsmoothmenu.init({
        mainmenuid: "top_nav", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })

</script>
    @RenderSection("Scripts", required : false)

</head>

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

	<div id="templatemo_header">
    	<div id="site_title"><h1><a href="/Customer/index">Online Shoes Store</a></h1></div>
        <div id="header_right">
        	
		</div>
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_header -->
    
    <div id="templatemo_menubar">
    	<div id="top_nav" class="ddsmoothmenu">
            <ul>
                @RenderSection("Menu", required: false)
                <li><a href="/General/about">About</a></li>
                <li><a href="/General/contact">Contact Us</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of ddsmoothmenu -->
       
    </div> <!-- END of templatemo_menubar -->
    
    <div id="templatemo_main">

        @RenderBody()
    	
       
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->
    
    
    
</div> <!-- END of templatemo_wrapper -->
    
</div> <!-- END of templatemo_body_wrapper -->
    <footer>
        <div id="templatemo_footer">
    	<p><a href="/Customer/index">Home</a> | <a href="/Customer/products">Products</a> | <a href="/General/about">About</a> | <a href="/General/faqs">FAQs</a> | <a href="/General/contact">Contact Us</a>
		</p>

    	Copyright © 2072 <a href="http://www.pucit.edu.pk.com">PUCIT</a> | Designed by <a href="http://www.facebook.com/sheikhjango" target="_parent">Husnain Haider</a>
    </div> <!-- END of templatemo_footer -->
        </footer>

</body>
</html>