@{
    ViewBag.Title = "index";
}

<h2>Shoes store</h2>
<p>Welcome to acounts Page</p>
<p>
@Html.ActionLink("To Login Click here","Login")
</p>
<p>
@Html.ActionLink("To reister Click here","Register")
</p>
<p>
@Html.ActionLink("Admin please click here ","../Admin/Index")
</p>