@{
    ViewBag.Title = "index";
}

<h2>Shoes store</h2>
<p>Welcome to acounts Page</p>
<div id="top_nav" class="ddsmoothmenu">
            <ul>
                <li><a href="/Home/Login" class="selected">Login</a></li>
                <li><a href="/Home/Register">Register</a></li>
            </ul>
            <br style="clear: left" / >
        </div> <!-- end of ddsmoothmenu -->
